<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (locals.loggedin) { %>
          <a href="/account">Welcome Basic</a>
          <a title="Click to log out" href="/account/logout">Log out</a>
        <% } else { %>
          <a title="Click to log in" href="/account/login">Account</a>
        <% } %>
  </div>
</header>