<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <form action="/search" method="get" id="search">
      <input type="text" name="search" id="search-bar" title="Search Inventory by Make or Model" required value="<%= locals.search %>" placeholder="Search Inventory by Make or Model">
      <input type="submit" id="submit" class="submit-search" value="Search">
    </form>

  <div id="tools">
    <% if (locals.loggedin) { %>
        <a href="/account">Welcome Basic</a>
        <a title="Click to log out" href="/account/logout">Log out</a>
      <% } else { %>
        <a title="Click to log in" href="/account/login">Account</a>
      <% } %>
  </div>
</header>