<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
      res.redirect('/')
    } %>

<!-- Send flash message -->
<%- messages() %>

<!-- Display validation errors -->
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <% }); %>
    </ul>
    <% } %>

 <div class="manage-inv">
    <a href="/inv/add-classification">Add new classification</a>
    <a href="/inv/add-inventory">Add new inventory</a>

    <h2>Manage Inventory</h2>
    <p>Select inventory classification to view</p>

    <%- classificationSelect %>

    <table id="inventoryDisplay"></table>

    <noscript>JavaScript must be enable to use this page.</noscript>
 </div>

<script src="../../js/inventory.js"></script>